.defaultHeader{
    text-align: center;
    h1{
        color:#594bf4;
        font-size: 3rem;
        line-height: 3rem;
    }
    p{
     color:#594bf4;
     font-size:1.125rem;
    }
    
    a{
        color:#e5e5ed;;
        box-shadow: 0 0 1px 1px #594bf4;;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-top: 0.85rem ;
        background-color: #594bf4;;
    }
 }